
.text-color{
    color: #ff0000;
}
.font{
    font-size: 50px;
    font-style:unset;
    font-weight: 800px;
}

.header{
   background-image: url("../images/developer.png"), url("../images/header_bg.png");
   background-repeat: no-repeat;
   background-position: top left, bottom right;
    /* 2. Image-er original lamba size dhore rakhbe jate kete na jay */
    background-size: contain; 
     /* 3. Header-er bhetor thikoto height ebong faka jaega dorkar jate text-ti dhorte pare */
    min-height: 100vh;
    position: relative;
}
nav{
    display:flex;
    
    align-items: center;
    justify-content: space-between;
    margin: 0 10px 0 150px;
    
    
}
 nav ul {
    display:flex;
    gap: 20px;
    font-style:none;
    list-style:none;
    justify-content: center;
    align-items: center;
    margin:  50px 50px;
    
   }
nav ul  a{
    text-decoration:none;
    color: black;
    font-size: 20px;
}
.btn{
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
.banner{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 0px 10px 0px 150px;
}
.banner-content{
    max-width: 800px;
    text-align: justify;
    max-width: auto;
    
}
.about-title{
    font-size: 35px;
    font-weight: 1000px;
    color: rgba(0, 0, 0, 0.732);
    text-align: center;
    border-radius: 10px;
    
}
.secendary-bg{
    background-color:antiquewhite;
    border-radius: 10px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    border-radius:30px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    text-align: justify;
}
.about-items{
    display: flex;
    justify-content: space-around;
    
}

.item-title{
    font-weight: 200px;
}
.item-description{
    font-weight: 800px;
}
